{%- comment -%}
Fomoify – Core App Embed
{%- endcomment -%}

<script src="{{ 'm2fomos.js' | asset_url }}" defer></script>

<div id="fomo-embed-root" data-design-mode="{{ request.design_mode }}"></div>

{% schema %}
{
  "name": "Fomoify – Core Embed",
  "target": "body",
  "settings": [
    {
      "type": "checkbox",
      "id": "preview_in_editor",
      "label": "Show preview in Theme Editor",
      "default": true
    }
  ]
}
{% endschema %}
