{%- comment -%}
Fomoify - Core App Embed
{%- endcomment -%}

<script src="{{ 'm2fomos.js' | asset_url }}" defer></script>

<div
  id="fomo-embed-root"
  data-design-mode="{{ request.design_mode }}"
  data-shop-domain="{{ shop.permanent_domain }}"
  data-preview-enabled="true"
></div>

{% schema %}
{
  "name": "Fomoify - Core Embed",
  "target": "body"
}
{% endschema %}
